# Class

## Goal
- Memperkenalkan bagaimana python membuat object dari template (class)

## Referensi
- https://www.hackerearth.com/practice/python/object-oriented-programming/classes-and-objects-i/tutorial/#:~:text=What%20is%20a%20class%3F,the%20constructor%20of%20the%20class.

### 1. Class - Basic

In [49]:
class Snake:
    pass

In [50]:
ular = Snake()

In [51]:
ular

In [52]:
class Snake:
    animal_type = "reptil"

In [53]:
ular = Snake()

In [54]:
ular.animal_type

'reptil'

In [75]:
class Snake:
    animal_type = "reptil"
    length_in_cm = None

    def change_length(self, new_length):
        self.length_in_cm = new_length

In [76]:
ular = Snake()

In [77]:
ular.length_in_cm

In [78]:
ular.change_length(200)

In [79]:
ular.length_in_cm

200

In [80]:
class Snake:
    animal_type = "reptil"
    length_in_cm = None

    def change_length(self, new_length):
        self.length_in_cm = new_length

    def __init__(self, snake_type):
        self.snake_type = snake_type

In [81]:
ular = Snake()

TypeError: __init__() missing 1 required positional argument: 'snake_type'

In [82]:
ular = Snake('python')

In [83]:
ular.snake_type

'python'

In [84]:
class Snake:
    animal_type = "reptil"
    length_in_cm = None

    def change_length(self, new_length):
        self.length_in_cm = new_length

    def __init__(self, snake_type):
        self.snake_type = snake_type

    def __str__(self):
        return "Ular {} adalah {} yang memiliki panjang {} cm.".format(self.snake_type, self.animal_type, self.length_in_cm)

In [85]:
ular_1 = Snake('python')
ular_1.change_length(200)
print(ular_1)

Ular python adalah reptil yang memiliki panjang 200 cm.

In [86]:
ular_2 = Snake('anaconda')
ular_2.change_length(500)
print(ular_2)

Ular anaconda adalah reptil yang memiliki panjang 500 cm.

### 2. Class - Use Case

In [118]:
class Loan:
    default_interest = 0.12
    
    def calculate_installment(self):
        monthly_interest = self.interest/12
        numerator = self.loan_principal * monthly_interest * (1+monthly_interest)**self.loan_tenure
        denominator = (1+monthly_interest)**self.loan_tenure
        self.cicilan_bulanan = numerator/(denominator-1)

    def generate_installment_schedule(self):
        total_bayar = 0
        for iter in range(self.loan_tenure):
            bulan_ke = iter+1
            cicilan = round(self.cicilan_bulanan/1000)*1000
            total_bayar += cicilan
            print('No Pinjaman {}, Cicilan bulan ke {} ialah sebesar Rp {:,} dengan total bayar Rp {:,}'.format(
                self.loan_id, bulan_ke, cicilan, total_bayar))

    def __init__(self, loan_id, loan_principal, loan_tenure, interest=default_interest):
        self.loan_id = loan_id
        self.loan_principal = loan_principal
        self.loan_tenure = loan_tenure
        self.interest = interest
        self.calculate_installment()

In [119]:
data_pinjaman = {
    'loan_id' : 'A001', 
    'loan_principal' : 1000000, 
    'loan_tenure' : 24
}

loan_1 = Loan(data_pinjaman['loan_id'], data_pinjaman['loan_principal'], data_pinjaman['loan_tenure'])
loan_1.generate_installment_schedule()

No Pinjaman A001, Cicilan bulan ke 1 ialah sebesar Rp 47,000 dengan total bayar Rp 47,000
No Pinjaman A001, Cicilan bulan ke 2 ialah sebesar Rp 47,000 dengan total bayar Rp 94,000
No Pinjaman A001, Cicilan bulan ke 3 ialah sebesar Rp 47,000 dengan total bayar Rp 141,000
No Pinjaman A001, Cicilan bulan ke 4 ialah sebesar Rp 47,000 dengan total bayar Rp 188,000
No Pinjaman A001, Cicilan bulan ke 5 ialah sebesar Rp 47,000 dengan total bayar Rp 235,000
No Pinjaman A001, Cicilan bulan ke 6 ialah sebesar Rp 47,000 dengan total bayar Rp 282,000
No Pinjaman A001, Cicilan bulan ke 7 ialah sebesar Rp 47,000 dengan total bayar Rp 329,000
No Pinjaman A001, Cicilan bulan ke 8 ialah sebesar Rp 47,000 dengan total bayar Rp 376,000
No Pinjaman A001, Cicilan bulan ke 9 ialah sebesar Rp 47,000 dengan total bayar Rp 423,000
No Pinjaman A001, Cicilan bulan ke 10 ialah sebesar Rp 47,000 dengan total bayar Rp 470,000
No Pinjaman A001, Cicilan bulan ke 11 ialah sebesar Rp 47,000 dengan total bayar Rp 517,000
No Pinjaman A001, Cicilan bulan ke 12 ialah sebesar Rp 47,000 dengan total bayar Rp 564,000
No Pinjaman A001, Cicilan bulan ke 13 ialah sebesar Rp 47,000 dengan total bayar Rp 611,000
No Pinjaman A001, Cicilan bulan ke 14 ialah sebesar Rp 47,000 dengan total bayar Rp 658,000
No Pinjaman A001, Cicilan bulan ke 15 ialah sebesar Rp 47,000 dengan total bayar Rp 705,000
No Pinjaman A001, Cicilan bulan ke 16 ialah sebesar Rp 47,000 dengan total bayar Rp 752,000
No Pinjaman A001, Cicilan bulan ke 17 ialah sebesar Rp 47,000 dengan total bayar Rp 799,000
No Pinjaman A001, Cicilan bulan ke 18 ialah sebesar Rp 47,000 dengan total bayar Rp 846,000
No Pinjaman A001, Cicilan bulan ke 19 ialah sebesar Rp 47,000 dengan total bayar Rp 893,000
No Pinjaman A001, Cicilan bulan ke 20 ialah sebesar Rp 47,000 dengan total bayar Rp 940,000
No Pinjaman A001, Cicilan bulan ke 21 ialah sebesar Rp 47,000 dengan total bayar Rp 987,000
No Pinjaman A001, Cicilan bulan ke 22 ialah sebesar Rp 47,000 dengan total bayar Rp 1,034,000
No Pinjaman A001, Cicilan bulan ke 23 ialah sebesar Rp 47,000 dengan total bayar Rp 1,081,000
No Pinjaman A001, Cicilan bulan ke 24 ialah sebesar Rp 47,000 dengan total bayar Rp 1,128,000

In [121]:
data_pinjaman = {
    'loan_id' : 'A002', 
    'loan_principal' : 5000000, 
    'loan_tenure' : 12,
    'interest' : 0.17
}

loan_2 = Loan(data_pinjaman['loan_id'], data_pinjaman['loan_principal'], data_pinjaman['loan_tenure'])
loan_2.generate_installment_schedule()

No Pinjaman A002, Cicilan bulan ke 1 ialah sebesar Rp 444,000 dengan total bayar Rp 444,000
No Pinjaman A002, Cicilan bulan ke 2 ialah sebesar Rp 444,000 dengan total bayar Rp 888,000
No Pinjaman A002, Cicilan bulan ke 3 ialah sebesar Rp 444,000 dengan total bayar Rp 1,332,000
No Pinjaman A002, Cicilan bulan ke 4 ialah sebesar Rp 444,000 dengan total bayar Rp 1,776,000
No Pinjaman A002, Cicilan bulan ke 5 ialah sebesar Rp 444,000 dengan total bayar Rp 2,220,000
No Pinjaman A002, Cicilan bulan ke 6 ialah sebesar Rp 444,000 dengan total bayar Rp 2,664,000
No Pinjaman A002, Cicilan bulan ke 7 ialah sebesar Rp 444,000 dengan total bayar Rp 3,108,000
No Pinjaman A002, Cicilan bulan ke 8 ialah sebesar Rp 444,000 dengan total bayar Rp 3,552,000
No Pinjaman A002, Cicilan bulan ke 9 ialah sebesar Rp 444,000 dengan total bayar Rp 3,996,000
No Pinjaman A002, Cicilan bulan ke 10 ialah sebesar Rp 444,000 dengan total bayar Rp 4,440,000
No Pinjaman A002, Cicilan bulan ke 11 ialah sebesar Rp 444,000 dengan total bayar Rp 4,884,000
No Pinjaman A002, Cicilan bulan ke 12 ialah sebesar Rp 444,000 dengan total bayar Rp 5,328,000