# Function

## Goal
- Memperkenalkan bagaimana python melakukan simplifikasi proses yang berulang melalui function

## Referensi
- https://www.analyticsvidhya.com/blog/2021/07/all-fundamentals-of-python-functions-that-you-should-know-a-quick-brush-up/

### 1. Function - Basic

In [3]:
panjang = 10
tinggi = 5
luas_segitiga = panjang * tinggi * 0.5
print(luas_segitiga)

panjang = 12
tinggi = 6
luas_segitiga = panjang * tinggi * 0.5
print(luas_segitiga)

panjang = 8
tinggi = 20
luas_segitiga = panjang * tinggi * 0.5
print(luas_segitiga)

25.0
36.0
80.0

In [4]:
def luas_segitiga(panjang, tinggi):
    print(panjang * tinggi * 0.5)

luas_segitiga(10, 5)
luas_segitiga(12, 6)
luas_segitiga(8, 20)

25.0
36.0
80.0

In [6]:
data = [
    {'panjang' : 10, 'tinggi' : 5},
    {'panjang' : 12, 'tinggi' : 6},
    {'panjang' : 8, 'tinggi' : 20},
]

for i in data:
    luas_segitiga(i['panjang'], i['tinggi'])

25.0
36.0
80.0

### 2. Function With Default Argument

In [16]:
def calculate_installment(loan_principal, loan_tenure, interest=0.12):
    monthly_interest = interest/12
    numerator = loan_principal * monthly_interest * (1+monthly_interest)**loan_tenure
    denominator = (1+monthly_interest)**loan_tenure
    print(numerator/(denominator-1))

In [17]:
calculate_installment(loan_principal=1000000, loan_tenure=24)

47073.47222326467

In [15]:
calculate_installment(loan_principal=1000000, loan_tenure=24, interest=0.22)

51878.15464773579

### 3. Function With Return Value

In [18]:
def calculate_installment(loan_principal, loan_tenure, interest=0.12):
    monthly_interest = interest/12
    numerator = loan_principal * monthly_interest * (1+monthly_interest)**loan_tenure
    denominator = (1+monthly_interest)**loan_tenure
    return numerator/(denominator-1)

In [19]:
cicilan_bulanan = calculate_installment(loan_principal=1000000, loan_tenure=24)
cicilan_bulanan

47073.47222326467

In [34]:
def generate_installment_schedule(loan_tenure, cicilan_bulanan):
    total_bayar = 0
    for iter in range(loan_tenure):
        bulan_ke = iter+1
        cicilan = round(cicilan_bulanan/1000)*1000
        total_bayar += cicilan
        print('Cicilan bulan ke {} ialah sebesar Rp {:,} dengan total bayar Rp {:,}'.format(bulan_ke, cicilan, total_bayar))

In [35]:
generate_installment_schedule(24, cicilan_bulanan)

Cicilan bulan ke 1 ialah sebesar Rp 47,000 dengan total bayar Rp 47,000
Cicilan bulan ke 2 ialah sebesar Rp 47,000 dengan total bayar Rp 94,000
Cicilan bulan ke 3 ialah sebesar Rp 47,000 dengan total bayar Rp 141,000
Cicilan bulan ke 4 ialah sebesar Rp 47,000 dengan total bayar Rp 188,000
Cicilan bulan ke 5 ialah sebesar Rp 47,000 dengan total bayar Rp 235,000
Cicilan bulan ke 6 ialah sebesar Rp 47,000 dengan total bayar Rp 282,000
Cicilan bulan ke 7 ialah sebesar Rp 47,000 dengan total bayar Rp 329,000
Cicilan bulan ke 8 ialah sebesar Rp 47,000 dengan total bayar Rp 376,000
Cicilan bulan ke 9 ialah sebesar Rp 47,000 dengan total bayar Rp 423,000
Cicilan bulan ke 10 ialah sebesar Rp 47,000 dengan total bayar Rp 470,000
Cicilan bulan ke 11 ialah sebesar Rp 47,000 dengan total bayar Rp 517,000
Cicilan bulan ke 12 ialah sebesar Rp 47,000 dengan total bayar Rp 564,000
Cicilan bulan ke 13 ialah sebesar Rp 47,000 dengan total bayar Rp 611,000
Cicilan bulan ke 14 ialah sebesar Rp 47,000 dengan total bayar Rp 658,000
Cicilan bulan ke 15 ialah sebesar Rp 47,000 dengan total bayar Rp 705,000
Cicilan bulan ke 16 ialah sebesar Rp 47,000 dengan total bayar Rp 752,000
Cicilan bulan ke 17 ialah sebesar Rp 47,000 dengan total bayar Rp 799,000
Cicilan bulan ke 18 ialah sebesar Rp 47,000 dengan total bayar Rp 846,000
Cicilan bulan ke 19 ialah sebesar Rp 47,000 dengan total bayar Rp 893,000
Cicilan bulan ke 20 ialah sebesar Rp 47,000 dengan total bayar Rp 940,000
Cicilan bulan ke 21 ialah sebesar Rp 47,000 dengan total bayar Rp 987,000
Cicilan bulan ke 22 ialah sebesar Rp 47,000 dengan total bayar Rp 1,034,000
Cicilan bulan ke 23 ialah sebesar Rp 47,000 dengan total bayar Rp 1,081,000
Cicilan bulan ke 24 ialah sebesar Rp 47,000 dengan total bayar Rp 1,128,000

### 4. Function - Wrap the code

In [40]:
def calculate_installment(loan_principal, loan_tenure, interest=0.12):
    monthly_interest = interest/12
    numerator = loan_principal * monthly_interest * (1+monthly_interest)**loan_tenure
    denominator = (1+monthly_interest)**loan_tenure
    return numerator/(denominator-1)

def generate_installment_schedule(loan_id, loan_tenure, cicilan_bulanan):
    total_bayar = 0
    for iter in range(loan_tenure):
        bulan_ke = iter+1
        cicilan = round(cicilan_bulanan/1000)*1000
        total_bayar += cicilan
        print('No Pinjaman {}, Cicilan bulan ke {} ialah sebesar Rp {:,} dengan total bayar Rp {:,}'.format(
            loan_id, bulan_ke, cicilan, total_bayar))

data_pinjaman = [
    {'loan_id' : 'A001', 'loan_principal' : 1000000, 'loan_tenure' : 24},
    {'loan_id' : 'A002', 'loan_principal' : 5000000, 'loan_tenure' : 12, 'interest' : 0.17}
]

for data in data_pinjaman:
    loan_id = data['loan_id']
    loan_principal = data['loan_principal']
    loan_tenure = data['loan_tenure']
    if 'interest' in data.keys():
        cicilan_bulanan = calculate_installment(loan_principal, loan_tenure, data['interest'])
    else:
        cicilan_bulanan = calculate_installment(loan_principal, loan_tenure)
    generate_installment_schedule(loan_id, loan_tenure, cicilan_bulanan)
    print()

No Pinjaman A001, Cicilan bulan ke 1 ialah sebesar Rp 47,000 dengan total bayar Rp 47,000
No Pinjaman A001, Cicilan bulan ke 2 ialah sebesar Rp 47,000 dengan total bayar Rp 94,000
No Pinjaman A001, Cicilan bulan ke 3 ialah sebesar Rp 47,000 dengan total bayar Rp 141,000
No Pinjaman A001, Cicilan bulan ke 4 ialah sebesar Rp 47,000 dengan total bayar Rp 188,000
No Pinjaman A001, Cicilan bulan ke 5 ialah sebesar Rp 47,000 dengan total bayar Rp 235,000
No Pinjaman A001, Cicilan bulan ke 6 ialah sebesar Rp 47,000 dengan total bayar Rp 282,000
No Pinjaman A001, Cicilan bulan ke 7 ialah sebesar Rp 47,000 dengan total bayar Rp 329,000
No Pinjaman A001, Cicilan bulan ke 8 ialah sebesar Rp 47,000 dengan total bayar Rp 376,000
No Pinjaman A001, Cicilan bulan ke 9 ialah sebesar Rp 47,000 dengan total bayar Rp 423,000
No Pinjaman A001, Cicilan bulan ke 10 ialah sebesar Rp 47,000 dengan total bayar Rp 470,000
No Pinjaman A001, Cicilan bulan ke 11 ialah sebesar Rp 47,000 dengan total bayar Rp 517,000
No Pinjaman A001, Cicilan bulan ke 12 ialah sebesar Rp 47,000 dengan total bayar Rp 564,000
No Pinjaman A001, Cicilan bulan ke 13 ialah sebesar Rp 47,000 dengan total bayar Rp 611,000
No Pinjaman A001, Cicilan bulan ke 14 ialah sebesar Rp 47,000 dengan total bayar Rp 658,000
No Pinjaman A001, Cicilan bulan ke 15 ialah sebesar Rp 47,000 dengan total bayar Rp 705,000
No Pinjaman A001, Cicilan bulan ke 16 ialah sebesar Rp 47,000 dengan total bayar Rp 752,000
No Pinjaman A001, Cicilan bulan ke 17 ialah sebesar Rp 47,000 dengan total bayar Rp 799,000
No Pinjaman A001, Cicilan bulan ke 18 ialah sebesar Rp 47,000 dengan total bayar Rp 846,000
No Pinjaman A001, Cicilan bulan ke 19 ialah sebesar Rp 47,000 dengan total bayar Rp 893,000
No Pinjaman A001, Cicilan bulan ke 20 ialah sebesar Rp 47,000 dengan total bayar Rp 940,000
No Pinjaman A001, Cicilan bulan ke 21 ialah sebesar Rp 47,000 dengan total bayar Rp 987,000
No Pinjaman A001, Cicilan bulan ke 22 ialah sebesar Rp 47,000 dengan total bayar Rp 1,034,000
No Pinjaman A001, Cicilan bulan ke 23 ialah sebesar Rp 47,000 dengan total bayar Rp 1,081,000
No Pinjaman A001, Cicilan bulan ke 24 ialah sebesar Rp 47,000 dengan total bayar Rp 1,128,000

No Pinjaman A002, Cicilan bulan ke 1 ialah sebesar Rp 456,000 dengan total bayar Rp 456,000
No Pinjaman A002, Cicilan bulan ke 2 ialah sebesar Rp 456,000 dengan total bayar Rp 912,000
No Pinjaman A002, Cicilan bulan ke 3 ialah sebesar Rp 456,000 dengan total bayar Rp 1,368,000
No Pinjaman A002, Cicilan bulan ke 4 ialah sebesar Rp 456,000 dengan total bayar Rp 1,824,000
No Pinjaman A002, Cicilan bulan ke 5 ialah sebesar Rp 456,000 dengan total bayar Rp 2,280,000
No Pinjaman A002, Cicilan bulan ke 6 ialah sebesar Rp 456,000 dengan total bayar Rp 2,736,000
No Pinjaman A002, Cicilan bulan ke 7 ialah sebesar Rp 456,000 dengan total bayar Rp 3,192,000
No Pinjaman A002, Cicilan bulan ke 8 ialah sebesar Rp 456,000 dengan total bayar Rp 3,648,000
No Pinjaman A002, Cicilan bulan ke 9 ialah sebesar Rp 456,000 dengan total bayar Rp 4,104,000
No Pinjaman A002, Cicilan bulan ke 10 ialah sebesar Rp 456,000 dengan total bayar Rp 4,560,000
No Pinjaman A002, Cicilan bulan ke 11 ialah sebesar Rp 456,000 dengan total bayar Rp 5,016,000
No Pinjaman A002, Cicilan bulan ke 12 ialah sebesar Rp 456,000 dengan total bayar Rp 5,472,000